.footer-section {
    -ms-flex-direction: column;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
}

.footer-section p {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
}

.footer-logo {
    width: 50px;
}

.footer-box {
    background-color: black;
}

/*SOCIAL MEDIA
***********************/
.socialmedia small {
    float: right;
    color: white;
}

/**********************************************************************
FOOTER MOBILE
**********************************************************************/
.footer {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding-left: 0;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
}

.footer li {
    float: left;
    color: rgba(255, 255, 255, 0.75);
    font-size: 12px;
}


.footer li a {
    text-decoration: none;
    color: white;
    padding: 0 7px;
}

.footer li a:first-child {
    padding: 0 7px 0 0;
}