/*=====================================
Navigation: General
=====================================*/
.navbar {
    background-color: black;
    padding: .2rem 1rem;
    z-index: 100;
    width: 100%;
    top: 0;
    position: fixed;
    border-bottom: solid 1px #252525;
}

/*=====================================
Navigation: Links
=====================================*/
.nav-item {
    font-weight: 800;
    font-size: 1rem;
    padding: .1rem .5rem;
}

.nav-item a {
    color: white;
}
.nav-item a:hover {
    color: #575757;
}

/*=====================================
Navigation: Smartphone Toggler
=====================================*/
.navbar-toggler {
    padding: .6rem .4rem;
}

.navbar-toggler:focus, .navbar-toggler:hover {
    text-decoration: none;
    outline: none;
}

/*=====================================
Navigation: Dropdown
=====================================*/
.dropdown-item {
    color: black !important;
}

.dropdown-menu {
    right: -5px;
    padding: .5rem 0;
    font-size: 1rem;
    color: black;
    border: none;
    border-radius: .3rem;
    text-align: center;
    min-width: max-content;
}

.navbar-nav .dropdown-menu {
    margin-bottom: 15px;
}

/*=====================================
Navigation: Logo
=====================================*/
.logo-center {
    position: fixed;
    z-index: 1001;
    top: 10px;
    transition: top ease 1s;
    transform: translate(-50%);
    left: 50%;
}

.logo-center:hover {
    top: 5px;
    transition: top ease 1s;
}