/*=====================================
General
=====================================*/
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'circular', sans-serif;
    background-color: black;
    color: white;
}

::selection {
    background-color: rgba(255, 0, 85, 0.7);
    color: #ffffff;
}

header {
    margin: 20px 10px 0;
}

.pointer {
    cursor: pointer;
}

hr {
    border-color: #262626;
}

.border-violet {
    border-color: #4b20a0;
}

.border {
    border-color: #262626 !important;
}

/*=====================================
Video
=====================================*/
video {
    outline: none;
}

/*=====================================
Link
=====================================*/
footer {
    font-family: 'circular-book', sans-serif;
    border-top: solid 1px #262626;
}

/*=====================================
Link
=====================================*/
a {
    color: grey;
}

a:hover {
    color: white;
    text-decoration: none;
}

/*=====================================
Link Anchor Offset
=====================================*/
:target:before {
    content:"";
    display:block;
    height:200px;
    margin:-200px 0 0;
}

/*=====================================
Dividers
=====================================*/
.row-divider {
    height: 50px;
}

.nav-divider {
    height: 75px;
}


.list-unstyled li {
    text-decoration: none;
}

#sidebar {
    padding-left: 20px;
    height: 100%;
}


.list-horz li {
    display: inline-block;
    padding-left: 10px;
}

/*=====================================
Buttons
=====================================*/
.btn {
    border-radius: 100px;
    padding: 5px 100px;
    color: white;
    background-color: black;
}

.btn-submit {
    background-color: #4b20a0;
    width: 100%;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: solid 1px #6a2efc;
    padding: 5px;
    transition: background-color 300ms;
}

.btn-submit:hover {
    transition: background-color 300ms;
    background-color: #281157;
}

/*=====================================
Parralax + Supermodule
=====================================*/
.parallax {
    padding-top: 100px;
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

.supermodule-center {
    position: absolute;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.supermodule h1 {
    font-size: 3rem;
}

.supermodule h4 {
    color: #000000;
    margin-top: -10px;
    letter-spacing: 1px;
    background: #f8f9fa;
    border-radius: 100px;
    text-shadow: none;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    padding-top: 2px;
}

.supermodule * {
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.5);
}

.line-trough {
    border-top: solid 2px #9b9b9b;
    position: absolute;
    width: 100%;
    left: 0;
    margin-top: 110px;
}

.cs-module {
    left: 50%;
    bottom: 10%;
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    width: 101%;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.9);
    font-size: 10px;
    font-family: 'circular-book', sans-serif;
    letter-spacing: 2px;
    padding: 2px;
    border: solid 1px black;
}

/*=====================================
Image Gallery
=====================================*/
.car-gallery {
    margin-top: -130px;
}

.car-gallery a img {
    border: solid 1px #313131;
}

.image-gallery {
    column-count: 4;
    -moz-column-count: 4;
    -webkit-column-count: 4;
    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;
}

.image-gallery a img {
    margin-bottom: 40px;
    float: left;
}

.image-gallery-gap-10 {
    column-gap: 10px !important;
}

.image-gallery-gap-10 a img {
    margin-bottom: 10px !important;
}

@media only screen and (max-width: 991px) {
    .image-gallery {
        column-count: 2;
        -moz-column-count: 2;
        -webkit-column-count: 2;
    }
}

@media only screen and (max-width: 767px) {
    .image-gallery {
        column-count: 1;
        -moz-column-count: 1;
        -webkit-column-count: 1;
    }
}

.inline {
    display:inline-block;
}

/*=====================================
Dividers
=====================================*/
.divider-1 {height: 20px;}
.divider-2 {height: 40px;}
.divider-3 {height: 60px;}
.divider-4 {height: 80px;}
.divider-5 {height: 100px;}
.divider-6 {height: 120px;}
.divider-7 {height: 140px;}
.divider-8 {height: 160px;}
.divider-9 {height: 180px;}
.divider-10 {height: 200px;}

.no-margin {
    margin: 0 !important;
}

/*=====================================
Arrow Animation
=====================================*/
.arrow-container {
    position: absolute;
    animation: arrow 1s infinite;
    margin-left: -7px;
    text-shadow: 1px 1px 2px black;
}

@media screen and (max-height: 700px) {
    .arrow-container {
        display: none;
    }
}

@keyframes arrow {
    0% {bottom: 25px;}
    50% {bottom: 20px;}
    100% {bottom: 25px;}
}

/*=====================================
More Animation
=====================================*/
.more-container {
    position: absolute;
    animation: more 1s infinite;
    text-shadow: 1px 1px 2px black;
    float: right;
    margin-top: -8px;
}

@media screen and (max-height: 700px) {
    .more-container {
        display: none;
    }
}

@keyframes more {
    0% {left: calc(+25px);}
    50% {left: calc(+20px);}
    100% {left: calc(+25px);}
}


/*=====================================
Image Hover Overlay
=====================================*/
.content {
    position: relative;
    /*width: 90%;*/
    /*max-width: 400px;*/
    /*margin: auto;*/
    overflow: hidden;
}

.content .content-overlay {
    background: rgba(0,0,0,0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
    opacity: 1;
}

.content-image{
    width: 100%;
}

.content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
    top: 48%;
    left: 50%;
    opacity: 1;
}

.content-title {
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}

.content-details p{
    color: #fff;
    font-size: 0.8em;
}

.fadeIn-bottom{
    top: 80%;
}

/*=====================================
Carousel
=====================================*/
.carousel-item img {
    height: 100vh;
    object-fit: cover;
}

.carousel {
    margin-left: auto;
    margin-right: auto;
}

.grayscale img {
    filter: grayscale() contrast(0.9) opacity(0.5);
}

/*=====================================
Image Lightbox
=====================================*/
.lightbox {
    display: none;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
}

.lightbox img {
    max-width: 90%;
    max-height: 80%;
    -webkit-transform: translate(-50%, 25%);
    -moz-transform: translate(-50%, 25%);
    transform: translate(-50%, 25%);
    position: absolute;
    top: -10%;
}

.lightbox:target {
    outline: none;
    display: block;
}

/*=====================================
Table
=====================================*/
table, th, td {
    border: 1px solid #6d2fe9;
}

th {
    color: white;
}

td {
    color: grey;
}

.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #6d2fe9;
}

.table-header {
    padding: .75rem;
    border: 1px solid #6d2fe9;
    margin-bottom: -1px;
    color: #ba50ff;
    text-align: center;
}

/*=====================================
About Page
=====================================*/
.about-title {
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    background-color: black;
}

.portrait {
    border-radius: 200px;
}

.well {
    background-color: #0c0c0c;
    padding: 50px;
    border: solid 1px #171717;
}

/*=====================================
Contact
=====================================*/
form {
    background-color: #060606;
    padding: 50px;
    border: solid 1px #0c0c0c;
}

input, textarea {
    color: white;
    font-family: 'circular-book', sans-serif;
    padding: 5px 10px;
    background-color: #171717;
    border: solid 1px #242424;
    width: 100%;
}

input:focus, textarea:focus {
    outline-color: #7232ff;
}

fieldset {
    margin-bottom: 20px;
}

.input_50 input {
    width: 49%;
    float: left;
    margin-right: 2%;
}
.input_50 input:last-child {
    margin-right: 0;
}

.disabled {
    cursor: not-allowed !important;
}