/*=====================================
General
=====================================*/
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'circular', sans-serif;
    background-color: black;
    color: white;
    min-height: 1500px;
}

header {
    margin: 20px 10px 0;
}

.pointer {
    cursor: pointer;
}

/*=====================================
Link
=====================================*/
a {
    color: grey;
}

a:hover {
    color: black;
    text-decoration: none;
}

/*=====================================
Link Anchor Offset
=====================================*/
:target:before {
    content:"";
    display:block;
    height:200px;
    margin:-200px 0 0;
}

/*=====================================
Dividers
=====================================*/
.row-divider {
    height: 50px;
}

.nav-divider {
    height: 75px;
}


.list-unstyled li {
    text-decoration: none;
}

#sidebar {
    padding-left: 20px;
    height: 100%;
}

/*=====================================
Buttons
=====================================*/
.btn {
    border-radius: 100px;
    padding: 5px 100px;
    color: white;
    background-color: black;
}

/*=====================================
Parralax + Supermodule
=====================================*/
.parallax {
    padding-top: 100px;
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

.supermodule-center {
    position: absolute;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.supermodule h1 {
    font-size: 3rem;
}

.supermodule h4 {
    color: #000000;
    margin-top: -10px;
    letter-spacing: 1px;
    background: #f8f9fa;
    border-radius: 100px;
}

/*=====================================
Image Gallery
=====================================*/
.car-gallery {
    margin-top: -130px;
}

.image-gallery {
    column-count: 4;
    -moz-column-count: 4;
    -webkit-column-count: 4;
    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;
}

.image-gallery a img {
    margin-bottom: 40px;
    float: left;
}

@media only screen and (max-width: 991px) {
    .image-gallery {
        column-count: 2;
        -moz-column-count: 2;
        -webkit-column-count: 2;
    }
}

@media only screen and (max-width: 767px) {
    .image-gallery {
        column-count: 1;
        -moz-column-count: 1;
        -webkit-column-count: 1;
    }
}

.inline {
    display:inline-block;
}

/*=====================================
Dividers
=====================================*/
.divider-1 {height: 20px;}
.divider-2 {height: 40px;}
.divider-5 {height: 100px;}


/*=====================================
Arrow Animation
=====================================*/
.arrow-container {
    position: absolute;
    animation: arrow 1s infinite;
    margin-left: -7px;
}

@media screen and (max-height: 700px) {
    .arrow-container {
        display: none;
    }
}

@keyframes arrow {
    0% {bottom: 25px;}
    50% {bottom: 20px;}
    100% {bottom: 25px;}
}

/*=====================================
Image Hover Overlay
=====================================*/
.content {
    position: relative;
    /*width: 90%;*/
    /*max-width: 400px;*/
    /*margin: auto;*/
    overflow: hidden;
}

.content .content-overlay {
    background: rgba(0,0,0,0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
    opacity: 1;
}

.content-image{
    width: 100%;
}

.content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
    top: 48%;
    left: 50%;
    opacity: 1;
}

.content-title {
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}

.content-details p{
    color: #fff;
    font-size: 0.8em;
}

.fadeIn-bottom{
    top: 80%;
}

.carousel-item img {
    height: 100vh;
}







/** LIGHTBOX MARKUP **/

.lightbox {
    /** Default lightbox to hidden */
    display: none;

    /** Position and style */
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
}

.lightbox img {
    /** Pad the lightbox image */
    max-width: 90%;
    max-height: 80%;

    -webkit-transform: translate(-50%, 25%);
    -moz-transform: translate(-50%, 25%);
    transform: translate(-50%, 25%);

    position: absolute;
}

.lightbox:target {
    /** Remove default browser outline */
    outline: none;

    /** Unhide lightbox **/
    display: block;
}